<style>
	.rtl {
    	direction:rtl;
	}
    .text-style {
        color: #ef5350;
    }
    .custom-chip {
    	color: black !important;
    	background-color: white !important;
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    	cursor: pointer;
    }
    .active-chip {
    	color: white !important;
    	background-color: #ef5350 !important;
    	cursor: pointer;    	
    }
</style>
<script>
	function selectChip(chip) {
		if (chip.className.includes("custom")) {
			chip.className = "chip active-chip";
		} else {
			chip.className = "chip custom-chip";
		}
	}
</script>
{{> startfile}}
    {{> header}}
    <div class="container">
    	<div class="section">
    		<div class="row">
    			<h3 class="right">Explore Creators Worth Sponsering</h3>
    		</div>
    		<div class="row">
    			<h6 class="text-style right">Filter Creators By Category</h6>
    		</div>
    		<div class="row">
	    		<div class="right">
	    			<div class="chip active-chip" onClick="selectChip(this)">
					    View All
					</div>
	    			<div class="chip custom-chip" onClick="selectChip(this)">
					    Music
					</div>
					<div class="chip custom-chip" onClick="selectChip(this)">
					    Technology
					</div>
					<div class="chip custom-chip" onClick="selectChip(this)">
					    Art
					</div>
					<div class="chip custom-chip" onClick="selectChip(this)">
					    Podcasting
					</div>
					<div class="chip custom-chip" onClick="selectChip(this)">
					    Comedy
					</div>
				</div>
    		</div>
    	</div>
    	<div class="section">
    		<div class="row">
	    		{{#each data}}
	    			{{{renderStart this @index}}}
	    			<div class="col s4">
	    				{{>creatorcard}}
	    			</div>
	    			{{{renderEnd this @index}}}
	    		{{/each}}
	    	</div>
    	</div>
    </div>
    {{> footer}}
{{> endfile}}