<style>
	.text-style {
		color: #ef5350;
	}
	.underlined-text {
		border-bottom: 1px solid black;
		padding-bottom: 10px;
	}
	h2.header {
	    margin: 0;
	    padding-top: 100px;
	}
	.carousel-slider {
    	width: 600px !important;
	}
	.carousel-container {
		position: absolute;
		z-index: -1;
	}

	.bgtext:after {
		content: "About Us";
		position: absolute;
		top: 0;
		z-index: -1;
		left: 30%;
		font-size: 400%;
		color: #e0e0e0;
		margin-top: -1%;
	}
	.about-section {
		position: relative;
	}
	.email-input {
		padding-bottom: 50px;
	}
	.rtl {
    	direction:rtl;
	}
	.demo {
		width: 80%;
	}
	.carousel-container {
		width: 80% !important;
	}
	
	.tabs .tab a.active {
        color: #ef5350;
    }
    .tabs .tab a {
        color: #424242;
    }
    .tab-section {
    	padding-top: 10px;
    }
    .tab-content .container {
    	width: 85% !important;
    }
    .lower-border {
    	border-bottom: solid #e0e0e0;
    	border-width: thin;
    }
    .upload-wrapper {
    	border: solid #e0e0e0;
    	width: 125px;
    	height: 125px;
    	position: relative;
    }
	.upload-wrapper input {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    opacity: 0;
	    cursor: pointer;
	    z-index: 5;
	}
	.upload-wrapper .icon {
		margin: 50px;
		width: 25px;
		height: 25px;
	}
	.upload-wrapper img {
		top: 0;
		position: absolute;
	}
	.flat-bordered-btn {
		border: solid #e0e0e0 !important;
		width: 100%;
	}
	.upload-descrip {
		padding: 20px;
	}
	.prof-input {
	    border: .5px solid grey !important;
	    border-radius: 2px !important;
		margin-top: 10px !important;
	}
	[type="checkbox"].filled-in:checked + span:not(.lever)::after {
		background-color: #ef5350 !important;
		border: #ef5350 !important;
	}
</style>
<script>
window.addEventListener('load', function() {
  document.getElementById('input-file').addEventListener('change', function() {
      if (this.files && this.files[0]) {
          var img = document.getElementById('upload-img');
          img.src = URL.createObjectURL(this.files[0]); // set src to file url
          img.style.width="100%";
          img.style.height="100%";
      }
  });
});
</script>
{{> startfile}}
    {{> header}}
	{{#if user}}
		<div>
		    <div class="section row intro-section">
		    	<div class="col s6 carousel-container">
					<div class="carousel carousel-slider">
					    <a class="carousel-item"><img src="https://lorempixel.com/400/200/food/1"></a>
					    <a class="carousel-item"><img src="https://lorempixel.com/400/200/food/2"></a>
					    <a class="carousel-item"><img src="https://lorempixel.com/400/200/food/3"></a>
					    <a class="carousel-item"><img src="https://lorempixel.com/400/200/food/4"></a>
					</div>
		    	</div>
		    	<div class="col offset-s6">
		    		<h2 class="text-style rtl header">We Help Artists Like You</h1>
		    		<h2 class="text-style rtl">Get Paid For Their Work</h2>
		    		<br>
		    		<h5 class="rtl">It's Free To <span class="underlined-text">Sign Up</span> & Really Easy to Use</h5>
		            <br>
		            <br>
		            <br>
		            <div class="row email-input">
					   <form class="col s12">
					       <div class="row">
					           <div class="input-field col s9">
					           		<i class="material-icons prefix">mail</i>
					           		<input
		                                id="email"
		                                name="email"
		                                type="email"
		                                onchange="this.setCustomValidity(if(this.checkValidity()) form.email-confirm.pattern = this.value;"
		                                required
		                            >
									<label for="email">Lets start with your email...</label>
					           </div>
					           <div class="input-field col s3">
					               <button class="btn-large red lighten-1 waves-effect waves-light modal-trigger" href="#modalSignup" type="submit">Sign up</button>
					           </div>
					       </div>
					   </form>
					</div>
		    	</div>
		    </div>
		    <div class="section row about-section">
		    	<h4 class="center bgtext">Why Choose BackStage</h4>
		    	<br>
		    	<br>
		    	<br>
		    	<div class="promo">
				    <div class="center col s2 offset-s3">
				        <i class="material-icons red-text text-lighten-1 large">attach_money</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				    <div class="center col s2">
				      	<i class="material-icons red-text text-lighten-1 large">group</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				    <div class="center col s2">
				      	<i class="material-icons red-text text-lighten-1 large">settings</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				</div>
		    </div>
		    <br>
		    <br>
		    <br>
		    <br>
		    <div class="section row fees-section">
		    	<div class="col s4 offset-s2">
		    		<h3 class="red-text text-lighten-1 rtl">BackStage Fees</h3>
		    		<p class="rtl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    		<p class="rtl">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		    		<div class="right">
		    			<a class="btn-large waves-effect waves-light" href="/explore">Explore Artists</a>
		    			<a class="btn-large white waves-effect blue-grey-text text-darken-4 modal-trigger" href="#modalSignup">Sign up</a>
		    		</div>
		    	</div>
		    	<div class="center col s6">
		    	</div>
		    </div>
		</div>
		<div class="grey lighten-3">
			<div class="section row rec-section">
				<br>
				<br>
				<h4 class="center">Recommended Artists</h4>
				<p class="center col s6 offset-s3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
			</div>
			<div class="container">
				<div class="owl-carousel owl-theme">
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				</div>
			</div>
		</div>
		<div id="modalSignup" class="modal">
        	{{> signup registrationType=true }}
    	</div>
    {{else}}
    	<div class="grey lighten-3">
		    <div class="tab-section lower-border">
			    <div class="center">
			      	<ul class="tabs grey lighten-3">
				        <li class="tab"><a class="active" href="#news">News Feed</a></li>
				        <li class="tab"><a href="#support">Artist Support</a></li>
				        <li class="tab"><a href="#settings">Account Settings</a></li>
			      	</ul>
			    </div>
			</div>
			<div class="tab-content">
				<div id="news" class="container row">
					<div class="card col s3">
					    <div class="card-content">
					    	<div class="section">
					    		<p class="rtl">Creators You Might Like</p>
					    	</div>
					    	<div class="divider"></div>
					    	<div class="section">
					    		<div class="left">
					        		<p class="rtl">Kevin Stewart</p>
					        		<p class="rtl">Creating Online Podcasts</p>
					        	</div>
					        	<a><img width="50" height="50" class="circle" src="https://lorempixel.com/200/200/people/9"></a>
					        </div>
					        <div class="divider"></div>
					        <div class="section">
					        	<div class="left">
					        		<p class="rtl">Kevin Stewart</p>
					        		<p class="rtl">Creating Online Podcasts</p>
					        	</div>
					        	<a><img width="50" height="50" class="circle" src="https://lorempixel.com/200/200/people/9"></a>
					        </div>
					    </div>
					</div>

					<div class="card col s3 right">
					    <div class="card-content">
					    	<div class="section center">
					    		<a><img width="60" height="60" class="circle" src="https://lorempixel.com/200/200/people/9"></a>
					    		<p>Kevin Stewart</p>
					    	</div>
					    </div>
					</div>

				</div>
				<div id="support" class="container row">
					<div class="card col s12 right">
					    <div class="card-content">
							<table>
						        <thead>
						          	<tr>
						              	<th>Reward</th>
						              	<th>Package</th>
						              	<th>Creator</th>
						          	</tr>
						        </thead>

						        <tbody>
						          	<tr>
						            	<td>None</td>
						            	<td>
						            		<div>
				        						<p>Custom</p>
				        						<p>$50 Per Month</p>
				        					</div>
						            	</td>
						            	<td>
						            		<div class="section">
					    						<div class="left">
					        						<p>Kevin Stewart</p>
					        						<p>Creating Online Podcasts</p>
					        					</div>
					        					<a><img width="50" height="50" class="circle" src="https://lorempixel.com/200/200/people/9"></a>
					        				</div>
					        			</td>
						          	</tr>
						          	<tr>
						            	<td>None</td>
							            <td>
							            	<div>
				        						<p>Custom</p>
				        						<p>$50 Per Month</p>
				        					</div>
							            </td>
							            <td>
						            		<div class="section">
					    						<div class="left">
					        						<p class="rtl">Kevin Stewart</p>
					        						<p class="rtl">Creating Online Podcasts</p>
					        					</div>
					        					<a><img width="50" height="50" class="circle" src="https://lorempixel.com/200/200/people/9"></a>
					        				</div>
							            </td>
							        </tr>
						        </tbody>
						    </table>
					    </div>
					</div>
				</div>
				<div id="settings" class="container row">
					<div class="card col s12 right">
					    <div class="card-content">
					    	<div class="section">
						    	<div class="row">
						    		<h6 class="right">My Profile Details <i class="material-icons">person_outline</i></h6>
						    	</div>
								<div class="row">
									<div class="right upload-wrapper">
										<i class="material-icons grey-text text-lighten-1 icon">photo_camera</i>
										<input id="input-file" class="upload" data-default-file="" type="file">
										<img id="upload-img" src="">
									</div>
									<div class="right rtl upload-descrip">
										<p>Profile Picture/Company Logo</p>
										<p>Placeholder text about your profile picture goes in here</p>
										<button class="btn-flat flat-bordered-btn waves-effect">
						        			Upload Photo            
						        		</button>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div class="section">
								<div class="row">
									<div class="col s6">
									    <span class="right">First Name</span>
									    <div class="input-field">
									        <input class="prof-input" id="first-name" placeholder="First Name" type="text" required>
									    </div>
									</div>
									<div class="col s6">
									    <span class="right">Last Name</span>
									    <div class="input-field">
									        <input class="prof-input" id="last-name" placeholder="Last Name" type="text" required>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col s6">
									    <span class="right">Your Email</span>
									    <div class="input-field">
									        <input class="prof-input" id="email" placeholder="Email" type="text" required>
									    </div>
									</div>
									<div class="col s6">
									    <span class="right">Phone Number</span>
									    <div class="input-field">
									        <input class="prof-input" id="phone" placeholder="Phone Number" type="text" required>
									    </div>
									</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="card col s12 right">
					    <div class="card-content">
					    	<div class="section">
					    		<div class="row">
					    			<h6 class="right">My Password <i class="material-icons">lock_outline</i></h6>
					    		</div>
					    	</div>
					    	<div class="section">
								<div class="row">
									<div class="col s6">
									    <span class="right">New Password</span>
									    <div class="input-field">
									        <input class="prof-input" id="new-password" type="text" required>
									    </div>
									</div>
									<div class="col s6">
									    <span class="right">Confirm New Password</span>
									    <div class="input-field">
									        <input class="prof-input" id="confirm-new-password" type="text" required>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col s12">
									    <span class="right">Current Password</span>
									    <div class="input-field">
									        <input class="prof-input" id="curr-password" type="text" required>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="right">
										<a>I've Forgotten My Password</a>
									</div>
								</div>
								<div class="row">
									<div class="right">
										<button class="btn-large red lighten-1 waves-effect waves-light">Update Password</button>
									</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="card col s12 right">
					    <div class="card-content">
					    	<div class="section">
					    		<div class="row">
					    			<h6 class="right">My Notifications <i class="material-icons">mail_outline</i></h6>
					    		</div>
					    	</div>
					    	<div class="section">
					    		<div class="row right">
					    			<form>
									    <p>
									      	<label>
									        	<input type="checkbox" class="filled-in red-checkbox" />
									        	<span>I want to recieve emails when...</span>
									      	</label>
									    </p>
									    <p>
									      	<label>
									        	<input type="checkbox" class="filled-in red-checkbox" />
									        	<span>I want to recieve emails when...</span>
									      	</label>
									    </p>
									    <p>
									      	<label>
									        	<input type="checkbox" class="filled-in red-checkbox" />
									        	<span>I want to recieve emails when...</span>
									      	</label>
									    </p>
									    <p>
									      	<label>
									        	<input type="checkbox" class="filled-in red-checkbox" />
									        	<span>I want to recieve emails when...</span>
									      	</label>
									    </p>
									    <p>
									      	<label>
									        	<input type="checkbox" class="filled-in red-checkbox" />
									        	<span>I want to recieve emails when...</span>
									      	</label>
									    </p>
									    <p>
									      	<label>
									        	<input type="checkbox" class="filled-in red-checkbox" />
									        	<span>I want to recieve emails when...</span>
									      	</label>
									    </p>
									</form>
								</div>
							</div>
					    </div>
					</div>
					<div class="card col s12 right">
					    <div class="card-content">
					    	<div class="section">
					    		<div class="row">
						    		<h6 class="right">My Payment Details <i class="material-icons">credit_card</i></h6>
						    	</div>
					    	</div>
					    	<div class="section">
					    		<div class="row">
									<ul class="collapsible">
									    <li>
									      	<div class="collapsible-header grey lighten-3">
												<div class="col s3">
												</div>
												<div class="col s3">
													<div class="right">
														09/17 (Expired)
													</div>
												</div>
												<div class="col s6">
													<div class="right">
														Visa/Delta/Electron ending in 2178
														<i class="fa fa-cc-visa"></i>
													</div>
												</div>
									     	</div>
									      	<div class="collapsible-body">
									      		<div class="row">
													<div class="col s6">
														<div class="right">
															Billing Address
														</div>
													</div>
													<div class="col s6">
														<div class="right">
															Name on card
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col s6">
														<div class="right">
															<p>Jurgen Klopp</p>
															<p>5 Street Name</p>
															<p>Liverpool, United Kingdom, LI6 7XW</p>
														</div>
													</div>
													<div class="col s6">
														<div class="right">
															Mr J Klopp
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col s3">
														<button class="btn-flat flat-bordered-btn waves-effect">
						        							Edit Details            
						        						</button>
													</div>
													<div class="col s3">
														<button class="btn-flat flat-bordered-btn waves-effect">
						        							Delete          
						        						</button>
													</div>
												</div>
									      	</div>
									    </li>
									    <li>
									      	<div class="collapsible-header grey lighten-3">
												<div class="col s3">
													Card Being used
												</div>
												<div class="col s3">
													<div class="right">
														02/22
													</div>
												</div>
												<div class="col s6">
													<div class="right">
														Mastercard ending in 9554
														<i class="fa fa-cc-mastercard"></i>
													</div>
												</div>
									     	</div>
									      	<div class="collapsible-body">
									      		<div class="row">
													<div class="col s6">
														<div class="right">
															Billing Address
														</div>
													</div>
													<div class="col s6">
														<div class="right">
															Name on card
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col s6">
														<div class="right">
															<p>Jurgen Klopp</p>
															<p>5 Street Name</p>
															<p>Liverpool, United Kingdom, LI6 7XW</p>
														</div>
													</div>
													<div class="col s6">
														<div class="right">
															Mr J Klopp
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col s3">
														<button class="btn-flat flat-bordered-btn waves-effect">
						        							Edit Details            
						        						</button>
													</div>
													<div class="col s3">
														<button class="btn-flat flat-bordered-btn waves-effect">
						        							Delete          
						        						</button>
													</div>
												</div>
									      	</div>
									    </li>
									</ul>
								</div>
					    	</div>
					    </div>
					</div>
				</div>
			</div>
    	</div>
	{{/if}}
    {{> footer}}
{{> endfile}}