<style>
	.rtl {
		direction:rtl;
	}
	.text-style {
		color: #ef5350;
	}
	.underlined-text {
		border-bottom: 1px solid black;
		padding-bottom: 10px;
	}
	h2.header {
	    margin: 0;
	    padding-top: 100px;
	}
	.carousel-slider {
    	width: 600px !important;
	}
	.carousel-container {
		position: absolute;
		z-index: -1;
	}
	.bgtext:after {
		content: "About Us";
		position: absolute;
		top: 0;
		z-index: -1;
		left: 30%;
		font-size: 400%;
		color: #e0e0e0;
		margin-top: -1%;
	}
	.about-section {
		position: relative;
	}
	.email-input {
		padding-bottom: 50px;
	}
	.demo {
		width: 80%;
	}
	.carousel-container {
		width: 80% !important;
	}
	.tabs .tab a.active {
        color: #ef5350;
    }
    .tabs .tab a {
        color: #424242;
    }
    .tab-section {
    	padding-top: 10px;
    }
    .tab-content .container {
    	width: 85% !important;
    }  
    .lower-border {
    	border-bottom: solid #e0e0e0;
    	border-width: thin;
    }
	.wide {
		width: 100%;
	}
	[type="checkbox"].filled-in:checked + span:not(.lever)::after {
		background-color: #ef5350 !important;
		border: #ef5350 !important;
	}
    .thick {
        font-weight: bold;
    }
    .text-align-right {
		text-align: right;
    }
    .vertical-align {
	    display: flex;
    	align-items: center;
    }
	.email-input ::placeholder {
		text-align: right;
	}
	#rec-carousel .owl-next {
		position: absolute !important;
		right: -10% !important;
		top: 35% !important;
	}
	#rec-carousel .owl-prev {
		position: absolute !important;
		left: -10% !important;
		top: 35% !important;
	}
	#rec-carousel .owl-item {
		opacity: .7 !important;
		top: 25px;
	}
	#rec-carousel .owl-item.active.center {
		opacity: 1 !important;
		top: -25px;
	}
	#rec-carousel .owl-item.active.center .creator-descrip {
        visibility: visible;
        display: inherit;
	}
</style>
{{> startfile}}
    {{> header}}
	{{#if user}}
    	<div class="grey lighten-3">
		    <div class="tab-section lower-border">
			    <div class="center">
			      	<ul class="tabs grey lighten-3">
				        <li class="tab"><a class="active" href="#news">News Feed</a></li>
				        <li class="tab"><a href="#support">Artist Support</a></li>
				        <li class="tab"><a href="#settings">Account Settings</a></li>
			      	</ul>
			    </div>
			</div>
			<div class="tab-content">
				<div id="news" class="container row">
					{{>homepage/newsfeed}}
				</div>
				<div id="support" class="container row">
					{{>homepage/support}}
				</div>
				<div id="settings" class="container row">
					{{>homepage/settings}}
				</div>
			</div>
    	</div>
    {{else}}
		<div>
		    <div class="section row intro-section">
		    	<div class="col s6 carousel-container">
					<div class="carousel carousel-slider">
					    <a class="carousel-item"><img src="https://lorempixel.com/400/200/food/1"></a>
					    <a class="carousel-item"><img src="https://lorempixel.com/400/200/food/2"></a>
					    <a class="carousel-item"><img src="https://lorempixel.com/400/200/food/3"></a>
					    <a class="carousel-item"><img src="https://lorempixel.com/400/200/food/4"></a>
					</div>
		    	</div>
		    	<div class="col offset-s6">
		    		<h2 class="text-style rtl header">We Help Artists Like You</h1>
		    		<h2 class="text-style rtl">Get Paid For Their Work</h2>
		    		<br>
		    		<h5 class="rtl">It's Free To <span class="underlined-text">Sign Up</span> & Really Easy to Use</h5>
		            <br>
		            <br>
		            <br>
		            <div class="row email-input">
					   <form class="col s12">
					       <div class="row vertical-align">
					           <div class="input-field col s3">
					               <button class="btn-large red lighten-1 waves-effect waves-light modal-trigger" href="#modalSignup" type="submit">Sign up</button>
					           </div>
					           <div class="input-field col s8">
					           		<input
		                                class="rtl email-input"
		                                id="email"
		                                name="email"
		                                type="email"
		                                placeholder="Lets start with your email...&lrm;"
		                                onchange="this.setCustomValidity(if(this.checkValidity()) form.email-confirm.pattern = this.value;"
		                                required
		                            >
					           </div>
					           <i class="material-icons">mail</i>
					       </div>
					   </form>
					</div>
		    	</div>
		    </div>
		    <div class="section row about-section">
		    	<h4 class="center bgtext">Why Choose BackStage</h4>
		    	<br>
		    	<br>
		    	<br>
		    	<div class="promo">
				    <div class="center col s2 offset-s3">
				        <i class="material-icons red-text text-lighten-1 large">attach_money</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				    <div class="center col s2">
				      	<i class="material-icons red-text text-lighten-1 large">group</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				    <div class="center col s2">
				      	<i class="material-icons red-text text-lighten-1 large">settings</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				</div>
		    </div>
		    <br>
		    <br>
		    <br>
		    <br>
		    <div class="section row fees-section">
		    	<div class="col s4 offset-s6">
		    		<h3 class="red-text text-lighten-1 rtl">BackStage Fees</h3>
		    		<p class="rtl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lrm;</p>
		    		<p class="rtl">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lrm;</p>
		    		<div class="right">
		    			<a class="btn-large waves-effect waves-light" href="/explore">Explore Artists</a>
		    			<a class="btn-large white waves-effect blue-grey-text text-darken-4 modal-trigger" href="#modalSignup">Sign up</a>
		    		</div>
		    	</div>
		    	<div class="center col s6">
		    	</div>
		    </div>
		</div>
		<div class="grey lighten-3">
			<div class="section row rec-section">
				<br>
				<br>
				<h4 class="center">Recommended Artists</h4>
				<p class="center col s6 offset-s3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
			</div>
			<div class="container" id="rec-carousel">
				<a class="btn-floating btn-small waves-effect waves-light grey lighten-4 am-prev"><i class="material-icons black-text">keyboard_arrow_left</i></a>
				<a class="btn-floating btn-small waves-effect waves-light grey lighten-4 am-next"><i class="material-icons black-text">keyboard_arrow_right</i></a>
				<div class="owl-carousel owl-theme">
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				  	<div> {{> creatorcard}} </div>
				</div>
				
			</div>
		</div>
		<div id="modalSignup" class="modal">
        	{{> signup registrationType=true }}
    	</div>
	{{/if}}
    {{> footer}}
{{> endfile}}