<style>
	.text-style {
		color: #ef5350;
	}
	.underlined-text {
		border-bottom: 1px solid black;
		padding-bottom: 10px;
	}
	h2.header {
	    margin: 0;
	    padding-top: 100px;
	}
	.carousel-slider {
    	width: 600px !important;
	}
	.carousel-container {
		margin-top: 100px;
	}

	.bgtext:after {
		content: "About Us";
		position: absolute;
		top: 0;
		z-index: -1;
		left: 30%;
		font-size: 400%;
		color: #e0e0e0;
		margin-top: -1%;
	}
	.about-section {
		position: relative;
	}
	.email-input {
		padding-bottom: 50px;
	}
</style>
{{> startfile}}
    {{> header}}
    <div class="section row">
    	<div class="col s6 left carousel-container">
			 <div class="carousel carousel-slider">
			    <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/1"></a>
			    <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/2"></a>
			    <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/3"></a>
			    <a class="carousel-item"><img src="https://lorempixel.com/800/400/food/4"></a>
			 </div>
    	</div>
    	<div class="col right">
    		<h2 class="text-style rtl header">We Help Artists Like You</h1>
    		<h2 class="text-style rtl">Get Paid For Their Work</h2>
    		<br>
    		<h5 class="rtl">It's Free To <span class="underlined-text">Sign Up</span> & Really Easy to Use</h5>
            <br>
            <br>
            <br>
            <div class="row email-input">
			   <form class="col s12">
			       <div class="row">
			           <div class="input-field col s9">
			           	<i class="material-icons prefix">mail</i>
			               <input id="icon_prefix" type="text" class="validate" required>
							<label for="icon_prefix">Lets start with your email...</label>
			           </div>
			           <div class="input-field col s3">
			               <button class="btn-large red lighten-1 waves-effect waves-light" type="submit" name="action">Sign up</button>
			           </div>
			       </div>
			   </form>
			</div>
    	</div>
    </div>
    <div class="section row about-section">
    	<h4 class="center bgtext">Why Choose BackStage</h4>
    	<br>
    	<br>
    	<br>
	    <div class="center col s2 offset-s3">
	        <i class="material-icons red-text text-lighten-1 large">attach_money</i>
	        <h6 class="text-style">Sales Point</h6>
	        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    </div>
	    <div class="center col s2">
	      	<i class="material-icons red-text text-lighten-1 large">group</i>
	        <h6 class="text-style">Sales Point</h6>
	        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    </div>
	    <div class="center col s2">
	      	<i class="material-icons red-text text-lighten-1 large">settings</i>
	        <h6 class="text-style">Sales Point</h6>
	        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    </div>

    </div>

    {{> footer}}
{{> endfile}}