<style>
	.rtl {
    	direction:rtl;
	}
    .text-style {
        color: #ef5350;
    }
    .card-end {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .text-align-right {
        text-align: right !important;
    }
    .align-middle {
        margin-top: 10%;
    }
    .avatar {
        position: relative;
        margin-right: 5%;
        margin-top: -10%;
        width: 60px !important;
        height: 60px !important;
    }
    .artist.chip {
        position: relative;
        margin-top: -15%;
        margin-left: 5%;
        text-align: left !important;
    }
    .card-text {
        font-size: 90%;
    }
    .vertical-align {
        display: flex;
        align-items: center;
    }
    .creator-descrip {
        visibility: hidden;
        display: none;
    }
</style>
<div class="card">
    <div class="card-image">
    	<img src="https://lorempixel.com/400/200/people/1">
    </div>
    <div class="red lighten-2 white-text artist chip left">Artist</div>
    	<a><img class="circle avatar right" src="https://lorempixel.com/200/200/people/9"></a>
    <div class="card-content">
    	<div class="section" style="text-align: right;">
        	<p class="rtl"><span class="text-style">Kevin Stewart</span> is creating internet videos and podcasts</p>
        </div>
        <div class="section creator-descrip" style="text-align: right;">
            <p>Example of a description, which can be revealed when card is centered</p>
        </div>
        <div class="divider"></div>
        <div class="section row card-end">
        	<span class="col s6">
                <div class="left text-align-right">
                    <p class="card-text">1,098</p>
                    <p class="card-text">Supporters</p>
                </div>
    			<i class="material-icons right text-style align-middle">group</i>
        	</span>
        	<span class="col s6 vertical-align">
                <div class="left text-align-right">
                    <p class="card-text">Monthly</p>
                    <p class="card-text">Target</p>
                </div>
        		<div class="c100 p75 small right custom-color white">
                    <span>75%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
        	</span>
	    </div>
    </div>
</div>