<style>
	.rtl {
    	direction:rtl;
	}
    .text-style {
        color: #ef5350;
    }
    .circle-loader {
        width:50%;
        height:0;
        font-size:12px;
        color:red;
        text-align:center;
        line-height:0;
        padding:20% 0;
        border-radius:50%;
        border:5px solid red;
        background: rgba(0, 0, 0, 0);
    }
    .card-end {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .align-right {
        text-align: right;
    }
    .align-middle {
        margin-top: 10%;
    }
    .avatar {
        position: relative;
        margin-top: -10%;
        margin-right: 5%;
    }
</style>
<div class="card">
    <div class="card-image">
    	<img src="https://lorempixel.com/400/200/people/1">
    </div>

    	<a><img class="circle avatar right" src="https://lorempixel.com/50/50/people/9"></a>
    <div class="card-content">
    	<div class="section">
        	<p class="rtl"><span class="text-style">Kevin Stewart</span> is creating internet videos and podcasts</p>
        </div>
        <div class="divider"></div>
        <div class="section row card-end">
        	<span class="col s6">
                <div class="left align-right">
                    <p>1,098</p>
                    <p>Supporters</p>
                </div>
    			<i class="material-icons right text-style align-middle">group</i>
        	</span>
        	<span class="col s6">
                <div class="left align-right">
                    <p>Monthly</p>
                    <p>Target</p>
                </div>
        		<div class="c100 p75 small right custom-color white">
                    <span>75%</span>
                    <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                    </div>
                </div>
        	</span>
	    </div>
    </div>
</div>