    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script> --}}
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        $(document).ready(function(){
            $('.parallax').parallax();
        });
        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        $(document).ready(function(){
              $('select').formSelect();
          });
        $('.dropdown-trigger').dropdown({
            constrainWidth: false
        });

        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        });
        autoplay()   
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4500);
        }
        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });
        $(document).ready(function(){
            $('.tabs').tabs();
        });
        $(document).ready(function(){
            $('.collapsible').collapsible({
                onOpenStart: function(el) {
                    $(el).find('.collapsible-header i').text('remove_circle_outline');
                },
                onCloseStart: function(el) {
                    $(el).find('.collapsible-header i').text('add_circle_outline');
                }
            });
        });
        $(document).ready(function(){
            $('.modal').modal();
        });
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                margin: 10,
                loop: true,
                center: true,
                nav: true,
                navText: [$('.am-prev'),$('.am-next')],

                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                        center:false,
                        singleItem:true,
                        itemsScaleUp:true,
                    },
                    960:{
                        items:3,
                        center:true,
                        singleItem:false,
                        itemsScaleUp:false,
                    }
                }
            });
        });
        $('#news-carousel .owl-carousel').owlCarousel({
            items:1,
            loop:false,
            center:true,
            margin: 0
        });
        $('#explore-carousel.owl-carousel').owlCarousel({
            items:1,
            loop:true,
            center:true,
            stagePadding: 200,
            margin: 50,
            autoplay: true
        });
        {{#if msg}}
            $(document).ready(function(){
              $('#modalSignup').modal('open');
            });
            $(document).ready(function(){
              $('#msgModal').modal('open');
            });
        {{/if}}
        function postReq(url, data){
            $.post(url, data);
        }
        function getReq(url, data){
            $.get(url, data);
        }
    </script> 
</body>

</html>