<style>
    #myFooter {
        background-color: #37474f;
        color: white;
        padding-top: 30px;
    }

    #myFooter .row {
        margin-bottom: 60px;
    }

    #myFooter .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }

    #myFooter .footer-copyright p {
        margin: 10px;
        color: #ccc;
    }

    #myFooter ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }

    #myFooter h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 15%;
    }

    #myFooter h2 a {
        font-size: 50px;
        text-align: center;
        color: #fff;
    }

    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }

    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: white;
    }

    #myFooter .facebook:hover {
        color: #01579b;
    }

    #myFooter .youtube:hover {
        color: #ef1a1a;
    }
    #myFooter .linkedin:hover {
        color: #0077b5;
    }

    #myFooter .twitter:hover {
        color: #00aced;
    }

    #myFooter .btn {
        color: white;
        background-color: #d84b6b;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
    }

    @media screen and (max-width: 767px) {
        #myFooter {
            text-align: center;
        }
    }


    /* CSS used for positioning the footers at the bottom of the page. */

    /* You can remove this. */

    html {
        height: 100%;
    }

    body {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 100%;
    }

    .content {
        flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        min-height: 200px;
    }

    #myFooter {
        flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
    }
    #myFooter .container {
        width: 90%;
    }
    #myFooter .ltr {
        direction: ltr;
    }
    #myFooter .icon-size {
        font-size: 25px;
    }
    #myFooter li {
        margin:0 0 5px 0;
    }
    select {
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        height: 45px;
        border: none;
        outline: none;

        padding: 10px;
        margin: 8px 0;
    }
    .footer-language-selector:after {
        content: '\f0dd';
        font: normal normal normal 15px/1 FontAwesome;
        float:left;
        margin-top: -26%;
        margin-left: 5%;
    }
    .rtl {
        direction:rtl;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col rtl l3 offset-4 s12">
                <ul>
                    <li>
                        <h5>Lets Get Social</h5>
                    </li>
                    <li>
                        <a class="facebook" href="/">Facebook
                            <i class="fa fa-facebook-square right icon-size"></i>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="/">Twitter
                            <i class="fa fa-twitter right icon-size"></i>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="/">Youtube
                            <i class="fa fa-youtube-play right icon-size"></i>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="/login">Linked In
                            <i class="fa fa-linkedin-square right icon-size"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col rtl l2 offset-4 s12">
                <ul>
                    <li>
                        <h5>Bobs</h5>
                    </li>
                    <li>
                        <a href="/">Contact Us</a>
                    </li>
                    <li>
                        <a href="/">Our Blog</a>
                    </li>
                    <li>
                        <a href="/">Terms of Use</a>
                    </li>
                    <li>
                        <a href="/login">Sign Up/Login In</a>
                    </li>
                    <li>
                        <a href="/">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col rtl l2 offset-4 s12">
                <ul>
                    <li>
                        <h5>Bits</h5>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">About Us</a>
                    </li>
                    <li>
                        <a href="/">How It Works</a>
                    </li>
                    <li>
                        <a href="/">FAQs</a>
                    </li>
                    <li>
                        <a href="/">Our Team</a>
                    </li>
                </ul>
            </div>
            <div class="col rtl l2 offset-4 s12">
                <ul>
                    <li>
                        <h5>Categories</h5>
                    </li>
                    <li>
                        <a href="/categories">View All</a>
                    </li>
                    <li>
                        <a href="/categories/1">Category one</a>
                    </li>
                    <li>
                        <a href="/categories/2">Category one</a>
                    </li>
                    <li>
                        <a href="/categories/3">Category one</a>
                    </li>
                    <li>
                        <a href="/categories/3">Category one</a>
                    </li>
                </ul>
            </div>

            <div class="col rtl l2 offset-4 s12">
                <ul>
                    <li>
                        <h5>BackStage</h5>
                    </li>
                    <li class="ltr">
                        <div class="footer-language-selector rtl blue-grey darken-4">
                            <select class="browser-default">
                                <option>English</option>
                                <option>Hebrew</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <p class="ltr">© 2018 BackStage</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>