<style>
    .icon-button a:hover {
        text-decoration: none;
    }

    .header-search-icon {
        position: relative;
        bottom: 40%;
    }

    .header-search-wrapper {
        height: 45px;
        position: absolute;
        margin-top: 10px;
        margin-left:30%;
        margin-right:25%;
        border-radius: 4px;
        width: 45%;
    }
    .header-left {
        margin-left: 5%;
    }
    .header-right {
        margin-right: 5%;
    }
    .header-search-button {
        top: 10%;
        float: right;
        position: absolute;
    }
    .header-search-selector {
        float: left;
        margin-left:2%;
        width:25%;
        margin-top: -1%;
        position: relative;
    }
    .header-search-bar {
        float: left;
        width: 60%;
        border-left: 1px solid white;
    }
    ::placeholder {
       color: #424242;
       opacity:  1;
    }
    .header-search-bar input:focus {
       border-bottom: 1px solid #424242 !important;
       box-shadow: 0 1px 0 0 grey !important
     }
    .header-search-bar input {
       border-bottom: 0px !important;
    }


    select {
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        height: 45px;
        border: 0px;
    }
    .header-search-selector:after {
        content: '\f0dd';
        font: normal normal normal 15px/1 FontAwesome;
        float:left;
        margin-top: -25%;
    }
</style>

{{#if user}}

{{else}}
    <nav>
        <div class="nav-wrapper white">
            <div class="row">
                <ul class="right header-right">
                    <li class="icon-button"><a><i class="material-icons grey-text text-darken-3">menu</i></a></li>
                </ul>
                <ul class="left header-left">
                    <li><a class="grey-text text-darken-3" href="/login">Sign Up</a></li>
                    <li><a class="grey-text text-darken-3" href="/login">Login</a></li>
                    <li><a class="grey-text text-darken-3">Explore All</a></li>
                </ul>
                <div class="header-search-wrapper grey lighten-2">
                    <div class="grey-text text-darken-3 header-search-selector rtl">
                        <select class="browser-default">
                            <option>All Creators</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <form class="header-search-bar">
                        <input class="header-search-input z-depth-2 grey-text text-darken-3 right-align" placeholder="Search Creators" type="search" required>
                        <button class="header-search-button btn-flat" type="submit" name="action"><i class="header-search-icon material-icons">search</i></button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
{{/if}}