<style>
    .icon-button a:hover {
        text-decoration: none;
    }

    .header-search-icon {
        position: relative;
        bottom: 40%;
    }

    .header-search-wrapper {
        height: 45px;
        position: absolute;
        margin-top: 10px;
        margin-left:30%;
        margin-right:25%;
        border-radius: 4px;
        width: 45%;
    }
    .header-left {
        margin-left: 5%;
    }
    .header-right {
        margin-right: 5%;
    }
    .header-search-button {
        top: 10%;
        float: right;
        position: absolute;
    }
    .header-search-selector {
        float: left;
        width:25%;
        margin-top: -1%;
        position: relative;
    }
    .header-search-bar {
        float: left;
        width: 60%;
        border-left: 1px solid white;
    }
    ::placeholder {
       color: #424242;
       opacity:  1;
    }
    .header-search-bar input:focus {
       border-bottom: 1px solid #424242 !important;
       box-shadow: 0 1px 0 0 grey !important
     }
    .header-search-bar input {
       border-bottom: 0px !important;
    }


    select {
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        height: 45px;
        border: 0px;

        padding: 10px;
        margin: 8px 0;
    }
    .header-search-selector:after {
        content: '\f0dd';
        font: normal normal normal 15px/1 FontAwesome;
        float:left;
        margin-top: -25%;
        margin-left: 8%;
    }
    .logo{
        position:absolute;
        right: 10%;
        top: 15%;
    }
    .fullscreen-modal {
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
    }
    .header-avatar {
        width: 45px;
        height: 45px;
        margin-right: 15%;
    }
    #dropdown.dropdown-content {
        width:300px;
        top:64px !important;
    }
    #user-dropdown.dropdown-content {
        top:64px !important;
    }
</style>

<nav>
    <div class="nav-wrapper white">
        <div class="row">
            <ul class="right header-right">
                <a href="/"><h6 class="center black-text logo"><span class="text-style">Back</span>Stage</h6></a>
                <li class="icon-button">
                    <a class='dropdown-trigger' data-target='dropdown'>
                        <i class="material-icons grey-text text-darken-3">menu</i>
                    </a>
                </li>
            </ul>
            <ul class="left header-left">
                {{#if user}}
                    <li>
                        <a class="vertical-align dropdown-trigger" data-target='user-dropdown'>
                            <img class="circle header-avatar" src="https://lorempixel.com/200/200/people/9">
                            <span class="grey-text text-darken-3">Kevin</span>
                        </a>
                    </li>
                {{else}}
                    <li><a class="grey-text text-darken-3 modal-trigger" href="#modalSignup">{{__ 'Sign Up'}}</a></li>
                    <li><a class="grey-text text-darken-3 modal-trigger" href="#modalLogin">{{__ 'Login'}}</a></li>
                {{/if}}
                <li><a class="grey-text text-darken-3" href="/explore">{{__ 'Explore All'}}</a></li>
            </ul>
            <div class="header-search-wrapper grey lighten-3">
                <div class="grey-text text-darken-3 header-search-selector rtl">
                    <select class="browser-default">
                        <option>All Creators</option>
                    </select>
                </div>
                <form class="header-search-bar">
                    <input class="header-search-input z-depth-2 grey-text text-darken-3 right-align" placeholder="Search Creators" type="search" required>
                    <button class="header-search-button btn-flat" type="submit" name="action"><i class="header-search-icon material-icons">search</i></button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div id="modalSignup" class="modal fullscreen-modal">
    {{> signup registrationType=true }}
</div>
<div id="modalLogin" class="modal fullscreen-modal">
    {{> signup registrationType=false }}
</div>
<ul id='dropdown' class='dropdown-content'>
    <li><a href="/" class="grey-text text-darken-3 text-align-right">Home</a></li>
    <li><a href="/explore" class="grey-text text-darken-3 text-align-right">Explore All</a></li>
    <li><a href="/about_us" class="grey-text text-darken-3 text-align-right">About Us</a></li>
</ul>
<ul id='user-dropdown' class='dropdown-content'>
    <li><a href="" class="grey-text text-darken-3 text-align-right">Create On BackStage</a></li>
    <li><a href="" class="grey-text text-darken-3 text-align-right">My Account</a></li>
    <li><a href="" class="grey-text text-darken-3 text-align-right">Sign Out</a></li>
</ul>