<div class="card col s12 right">
    <div class="card-content">
		<table>
	        <thead>
	          	<tr>
	              	<th>Reward</th>
	              	<th>Package</th>
	              	<th>Creator</th>
	          	</tr>
	        </thead>

	        <tbody>
	          	<tr>
	            	<td>None</td>
	            	<td>
	            		<div>
    						<p>Custom</p>
    						<p>$50 Per Month</p>
    					</div>
	            	</td>
	            	<td>
	            		<div class="section">
    						<div class="left">
        						<p>Kevin Stewart</p>
        						<p>Creating Online Podcasts</p>
        					</div>
        					<a><img width="50" height="50" class="circle" src="https://lorempixel.com/200/200/people/9"></a>
        				</div>
        			</td>
	          	</tr>
	          	<tr>
	            	<td>None</td>
		            <td>
		            	<div>
    						<p>Custom</p>
    						<p>$50 Per Month</p>
    					</div>
		            </td>
		            <td>
	            		<div class="section">
    						<div class="left">
        						<p class="rtl">Kevin Stewart</p>
        						<p class="rtl">Creating Online Podcasts</p>
        					</div>
        					<a><img width="50" height="50" class="circle" src="https://lorempixel.com/200/200/people/9"></a>
        				</div>
		            </td>
		        </tr>
	        </tbody>
	    </table>
    </div>
</div>